html {
  line-height: 1.4;
  font-size: 62.5%; }

body {
  margin: 0;
  font-family: av_Font;
  font-size: 2.2rem;
  background-color: #fcfcfc;
  background-color: #292c35;
  color: #c0c0c0; }

h1 {
  letter-spacing: 1px;
  margin: 1rem 0;
  color: #c0c0c0; }

li {
  list-style-type: none;
  margin: 1rem 0; }

a {
  color: #454875; }

a:hover {
  text-decoration: none; }

/* ==== Light/Dark Theme Toggle ==== */
.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem; }

.checkbox {
  opacity: 0;
  position: absolute; }

.checkbox:checked + .label {
  background-color: #c0c0c0b7; }

.checkbox:checked + .label .ball {
  transform: translateX(24px); }

.label {
  background-color: #191a2a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #dedfeb;
  border-radius: 50px;
  position: relative;
  height: 1.6rem;
  width: 44px;
  transform: scale(1.1); }

.ball {
  background-color: #fcfcfc;
  position: absolute;
  top: 1px;
  left: 3px;
  border-radius: 50%;
  height: 2.4rem;
  width: 2.4rem;
  transition: transform 0.2s linear; }

/* ==== /end ==== */
/**** HEADER ****/
.header {
  z-index: 1;
  text-align: center;
  color: #d4d5e5;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%); }
  .header-image {
    background: #dedfeb;
    width: 250px;
    border-radius: 50%; }
  .header-title {
    font-size: 5rem;
    line-height: 1;
    display: block;
    color: #d4d5e5; }
  .header-description {
    font-size: 25px;
    display: block;
    line-height: 1;
    color: #d4d5e5;
    margin-top: 10px; }
  .header-icons {
    display: flex;
    justify-content: center;
    text-align: center; }
    .header-icons .icon {
      width: 30px;
      height: 30px;
      padding: 10px;
      border-radius: 50%;
      border: 1px solid #d4d5e5;
      transition: all 0.7s;
      font-size: 28px;
      margin: 5px; }
    .header-icons .icon:active,
    .header-icons .icon:hover {
      color: #191a2a;
      background: #d4d5e5; }

.down,
.header-icons .icon {
  color: #d4d5e5;
  text-align: center; }

.down {
  position: absolute;
  bottom: 25px;
  width: 100%;
  margin: 0 auto;
  display: block;
  font-size: 30px;
  cursor: pointer; }

.down .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 100px;
  animation: pulse 1.3s infinite; }

.down .icon:active,
.down .icon:hover {
  color: #535252; }

/**** ABOUT ME ****/
.about p:nth-child(2) {
  margin-bottom: 1rem; }

.about .resume {
  margin: 4rem 1rem; }
  .about .resume a {
    color: #454875; }

.about .button {
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #454875;
  transition: all 0.7s;
  font-size: 20px;
  text-decoration: none; }

.about .button:active,
.about .button:hover {
  background-color: #454875;
  color: #fcfcfc;
  color: #c0c0c0; }

/**** SKILLS ****/
.skills ul,
.contact ul {
  padding-left: 0; }

/**** PROJECTS ****/
.projects-content {
  padding-bottom: 0; }
  .projects-content .project-preview {
    margin: 4rem 0; }
    .projects-content .project-preview .overlap-img {
      margin: 0; }
    .projects-content .project-preview .content-publish {
      display: flex;
      margin-top: 1.1rem;
      margin-bottom: 2rem; }
      .projects-content .project-preview .content-publish a {
        color: #191a2a;
        text-decoration: underline;
        margin-left: 0.5rem;
        color: #454875; }
      .projects-content .project-preview .content-publish a:hover {
        text-decoration: none;
        color: #454875; }

.btn {
  font-size: 2.2rem;
  background: #454875;
  color: #fcfcfc;
  border-radius: 5px;
  padding: 3px 9px;
  text-decoration: none;
  color: #c0c0c0; }

.btn:hover {
  background: #fcfcfc;
  transition: all 0.2s ease-in-out;
  box-shadow: inset 0 0 0 2px #454875;
  color: #454875;
  background-color: #292c35;
  box-shadow: inset 0 0 0 2px #454875; }

.second {
  margin: 4rem 0 4rem 0; }

.content {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  margin-bottom: 16px; }
  .content h1 {
    margin: 4rem 0 3rem 0;
    font-size: 2.8rem;
    color: #191a2a;
    text-align: center;
    text-transform: uppercase;
    color: #c0c0c0; }
  .content h2 {
    margin: 1.5rem 0;
    font-size: 2.5rem; }
  .content img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    box-shadow: 3px 3px 3px #c0c0c0; }
  .content p {
    margin: 0; }

section {
  padding-bottom: 40px;
  border-bottom: 1px solid #c0c0c0; }

.about,
.skills,
.footer {
  text-align: center; }

.hr-style {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(247, 244, 244, 0), rgba(177, 174, 174, 0.623), rgba(110, 108, 108, 0)); }

/**** MEDIA QUERY *****/
@media screen and (min-width: 550px) {
  .content {
    width: 80%; } }

@media screen and (max-width: 500px) {
  .header {
    top: 45%; }
  .header-image {
    width: 220px; } }

@media screen and (max-width: 360px) {
  .header-image {
    width: 200px; }
  .header-icons {
    display: none; }
  .content {
    width: 90%;
    font-size: inherit; } }

@keyframes pulse {
  0% {
    filter: alpha(opacity=40);
    opacity: 0.4;
    top: 0; }
  50% {
    filter: none;
    opacity: 1;
    top: -10px; } }

@font-face {
  font-family: av_Font;
  src: url("/fonts/FuturaPTLight.otf"); }

#particles-js {
  background: #191a2a;
  display: flex;
  vertical-align: bottom;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

#particles-js .particles-js-canvas-el {
  width: 100% !important;
  height: 100vh !important; }
