/**** HEADER ****/
.header {
  z-index: 1;
  text-align: center;
  color: $color-secondary;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);

  &-image {
    background: #dedfeb;
    width: 250px;
    border-radius: 50%;
  }
  &-title {
    font-size: 5rem;
    line-height: 1;
    display: block;
    color: $color-secondary;
  }
  &-description {
    font-size: 25px;
    display: block;
    line-height: 1;
    color: $color-secondary;
    margin-top: 10px;
  }
  &-icons {
    display: flex;
    justify-content: center;
    text-align: center;
    .icon {
      width: 30px;
      height: 30px;
      padding: 10px;
      border-radius: 50%;
      border: 1px solid $color-secondary;
      transition: all 0.7s;
      font-size: 28px;
      margin: 5px;
    }
    .icon:active,
    .icon:hover {
      color: $color-primary;
      background: $color-secondary;
    }
  }
}

.down,
.header-icons .icon {
  color: $color-secondary;
  text-align: center;
}
.down {
  position: absolute;
  bottom: 25px;
  width: 100%;
  margin: 0 auto;
  display: block;
  font-size: 30px;
  cursor: pointer;
}
.down .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  animation: pulse 1.3s infinite;
}
.down .icon:active,
.down .icon:hover {
  color: #535252;
}

/**** ABOUT ME ****/
.about {
  p:nth-child(2) {
    margin-bottom: 1rem;
  }
  .resume {
    margin: 4rem 1rem;
    a {
      color:$color-dark-purple;
    }
  }
  .button {
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $color-dark-purple;
    transition: all 0.7s;
    font-size: 20px;
    text-decoration: none;
  }
  .button:active,
  .button:hover {
    background-color: $color-dark-purple;
    color: $color-body;
  }
}
/**** SKILLS ****/
.skills,
.contact {
  ul {
    padding-left: 0;
  }
}

/**** PROJECTS ****/
.projects-content {
  padding-bottom: 0;

  .project-preview {
    margin: 2.5rem 0;
    .overlap-img {
      margin: 0;
    }
    .content-publish {
      display: flex;
      margin-top: 1.1rem;
      margin-bottom: 2rem;
      a {
        color: $color-primary;
        text-decoration: underline;
        margin-left: 0.5rem;
      }
      a:hover {
        text-decoration: none;
        color: $color-dark-purple;
      }
    }
  }
}

.btn {
  font-size: 2.2rem;
  background: $color-dark-purple;
  color:$color-body;
  border-radius: 5px;
  padding: 3px 9px;
  text-decoration: none;
}
.btn:hover {
  background: $color-body;
  transition: all 0.2s ease-in-out;
  box-shadow: inset 0 0 0 2px $color-dark-purple;
  color: $color-dark-purple;
}

.bottom {
  margin: 4rem 0 4rem 0;
}









