/* ==== Light/Dark Theme Toggle ==== */
.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.checkbox:checked + .label {
  background-color: #c0c0c0b7; 
}
.checkbox:checked + .label .ball { transform: translateX(24px); }
.label {
  background-color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #dedfeb;
  border-radius: 50px;
  position: relative;
  height: 1.6rem;
  width: 44px;
  transform: scale(1.1);
}
.ball {
  background-color: $color-body;
  position: absolute;
  top: 1px;
  left: 3px;
  border-radius: 50%;
  height: 2.4rem;
  width: 2.4rem;
  transition: transform 0.2s linear;
}
/* ==== /end ==== */

/**** HEADER ****/
.header {
  z-index: 1;
  text-align: center;
  color: $color-secondary;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);

  &-image {
    background: #dedfeb;
    width: 250px;
    border-radius: 50%;
  }
  &-title {
    font-size: 5rem;
    line-height: 1;
    display: block;
    color: $color-secondary;
  }
  &-description {
    font-size: 25px;
    display: block;
    line-height: 1;
    color: $color-secondary;
    margin-top: 10px;
  }
  &-icons {
    display: flex;
    justify-content: center;
    text-align: center;
    .icon {
      width: 30px;
      height: 30px;
      padding: 10px;
      border-radius: 50%;
      border: 1px solid $color-secondary;
      transition: all 0.7s;
      font-size: 28px;
      margin: 5px;
    }
    .icon:active,
    .icon:hover {
      color: $color-primary;
      background: $color-secondary;
    }
  }
}

.down,
.header-icons .icon {
  color: $color-secondary;
  text-align: center;
}
.down {
  position: absolute;
  bottom: 25px;
  width: 100%;
  margin: 0 auto;
  display: block;
  font-size: 30px;
  cursor: pointer;
}
.down .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 100px;
  animation: pulse 1.3s infinite;
}
.down .icon:active,
.down .icon:hover {
  color: #535252;
}

/**** ABOUT ME ****/
.about {
  p:nth-child(2) { margin-bottom: 1rem; }
  .resume {
    margin: 4rem 1rem;
    a { color:$color-dark-purple; }
  }
  .button {
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $color-dark-purple;
    transition: all 0.7s;
    font-size: 20px;
    text-decoration: none;
  }
  .button:active,
  .button:hover {
    background-color: $color-dark-purple;
    color: $color-body;
    // Dark Theme
    color:$color-border;
  }
}
/**** SKILLS ****/
.skills,
.contact {
  ul { padding-left: 0; }
}

/**** PROJECTS ****/
.projects-content {
  padding-bottom: 0;

  .project-preview {
    margin: 4rem 0;

    .overlap-img {
      margin: 0 
    }
    .content-publish {
      display: flex;
      margin-top: 1.1rem;
      margin-bottom: 2rem;
      a {
        color: $color-primary;
        text-decoration: underline;
        margin-left: 0.5rem;
        // Dark Theme
        color: $color-dark-purple;
      }
      a:hover {
        text-decoration: none;
        color: $color-dark-purple;
      }
    }
  }
}

.btn {
  font-size: 2.2rem;
  background: $color-dark-purple;
  color:$color-body;
  border-radius: 5px;
  padding: 3px 9px;
  text-decoration: none;
  // Dark Theme
  color:$color-border;
}
.btn:hover {
  background: $color-body;
  transition: all 0.2s ease-in-out;
  box-shadow: inset 0 0 0 2px $color-dark-purple;
  color: $color-dark-purple;
  // Dark Theme
  background-color: #292c35;
  box-shadow: inset 0 0 0 2px $color-dark-purple;
}

.second { margin: 4rem 0 4rem 0; }

.content {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  margin-bottom: 16px;
  h1 {
    margin: 4rem 0 3rem 0;
    font-size: 2.8rem;
    color: $color-primary;
    text-align: center;
    text-transform: uppercase;
    // Dark Theme
    color: $color-border;
  }
  h2 {
    margin: 1.5rem 0;
    font-size: 2.5rem;
  }
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1px solid $color-border;
    box-shadow: 3px 3px 3px $color-border;
  }
  p { margin: 0; }
}

section {
  padding-bottom: 40px;
  border-bottom: 1px solid $color-border;
}

.about,
.skills,
.footer {
  text-align: center;
}

.hr-style {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(247, 244, 244, 0),
    rgba(177, 174, 174, 0.623),
    rgba(110, 108, 108, 0)
  );
}