# Dependency directories
node_modules/
package-lock.json

Images/
fonts/

# dotenv environment variables file
.env
remoteconfig.template.json

# deploy
.travis.yml
.firebase/
.firebaserc
firebase.json
